/* =========================================================
officer - 役員（組織）ページ固有のオブジェクト
========================================================= */
.p-officer {
  .c-title h2 {
    padding-bottom: 46px;
  }
  &__map {
    padding: 0 83px;
    margin-bottom: 87px;
    @media screen and (max-width: 1024px) {
      padding: 0 15px;
    }
    .p-dis_frame_ttl {
      margin-bottom: 48px;
    }
    &--img {
      text-align: center;
    }
  }
  &__table {
    padding: 0 83px;
    margin-bottom: 129px;
    @media screen and (max-width: 1024px) {
      padding: 0 15px;
    }
    table {
      width: 100%;
      padding-top: 17px;
      tr {
        font-size: 18px;
        line-height: 28px;
      }
      td {
        width: 29%;
        height: 58px;
        border-right: 8px solid #fff;
        border-bottom: 10px solid #fff;
        background-color: #f3f3f3;
        padding: 0 29px;
        vertical-align: middle;
        @media screen and (max-width: 768px) {
          padding: 0 10px;
          font-size: 15px;
          min-width: 83px;
        }
      }
      th {
        width: 100%;
        text-align: left;
        font-weight: 400;
        background-color: #f3f3f3;
        border-bottom: 10px solid #fff;
        letter-spacing: 0.7px;
        padding: 10px 28px;
        @media screen and (max-width: 768px) {
          padding: 10px 10px;
          font-size: 15px;
        }
      }
    }
  }
}
